#brandHeader {
  margin: 30px 0;
}
#brandBanner {
  height: 70vh;
}
#reservationHeader {
  margin: 80px 0 30px 0;
}
.reservation-section {
  padding: 0 50px !important;
}
.reservation-section h3 {
  margin:15px 0;
}
#dineWithUsHeader {
  margin: 80px 0 30px 0;
}
#map {
  height: 70vh;
}
#reviewHeader {
  margin: 80px 0 30px 0;
}
